@import 'src/Variables.sass'

.input
  width: 100%
  button,
  input
    border: none
    margin: 0
    background-color: white
    padding: 0.5rem 1rem
    border-radius: 0.5rem
    width: 100%
    text-align: left
    font-size: calc($size-input / 2)
    height: $size-input
    cursor: pointer
    position: relative
    box-sizing: border-box
    @include brand-transition(0.25s, background)
    &:hover
      background-color: darken($brand-gold-b, 15%)
    &:focus
      @include brand-focus()
  .label
    text-align: left
    margin: 0
    color: $brand-dark-a
    font-size: $size-label
